.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-top: 25px solid #080cdd;
  border-bottom: 25px solid #080cdd;

  /* Degradê de roxo escuro para claro */
  background: linear-gradient(
    to bottom,
    #240046 0%,
    #6c38a1 100%
  );
}